@model ASKI_VACACIONES.Models.JerarquiaModel
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Check-->
<script type="text/javascript">
    function showContent() {
        element = document.getElementById("content");
        check = document.getElementById("check");
        if (check.checked) {
            element.style.display = 'block';
        }
        else {
            element.style.display = 'none';
        }
    }
</script>



<section class="content-header">
    <h1>
        Editar jefe de empleado

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Calendario"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Editar jefes</li>
    </ol>
</section>

<!-- Content Wrapper. Contains page content -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                @using (Html.BeginForm())
                {

                    <div class="panel-body">

                        <!-- form start -->
                        @Html.ValidationSummary(true)
                        <form class="form-horizontal">


                            
                                <div class="box">
                                    <div class="box-body">
                                   
                                        <div class="form-group">
                                            <table id="empleado_jefe" class="datatable table table-striped table-bordered" width="85%">

                                                <thead>
                                                    <tr>
                                                        <th>Descripcion</th>
                                                        <th>id</th>
                                                        <th>Nombre Empleado</th>
                                                        <th>id</th>
                                                        <th>Nombre Jefe</th>
                                                        <th>id</th>
                                                        <th>Editar</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                                
                                            </div><!-- /.box-body -->
                                        </div><!-- /.box -->
                            <!--Modal-->
                            <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="recargar();"></span></button>
                                            <h4 class="modal-title custom_align" id="Heading">Cambiar jefe del empleado</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input class="form-control " type="text" value="@ViewBag.nombre" disabled>

                                            </div>
                                            <div class="form-group">
                                                <div class="ui-widget">
                                                    <select id="combobox" class="form-control">
                                                        <option value=""></option>
                                                        @foreach (var item in @ViewBag.Emple)
                                                        {
                                                            <option value="@item">@item</option>
                                                        }

                                                    </select>
                                                </div>

                                        </div>
                                        <div class="modal-footer ">
                                            
                                            <button type="button" class="btn btn-primary btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Actualizar</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            

                        </form>
                    </div>

                }
            </div>

        </div>
    </div>

    <!-- Left col -->
    <section class="col-lg-7 connectedSortable"></section><!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable"></section><!-- right col -->


</section><!-- /.content -->


<script type="text/javascript">
  
 

    $(document).ready(function () {
        var rows_selected = [];
        var table = $('#empleado_jefe').DataTable({
            responsive: true,
            "ajax": {
                "url": "@Url.Action("getDptJefe", "Jerarquia")",
                "type": "POST"
            },

            "columns": [
                { "data": "descripcion",},
                { "data": "departamentoid" },
                { "data": "nombre"},
                { "data": "talento_humano" },
                { "data": "nombreJefe" },
                { "data": "talentoJefe" },
                {
                        //"data": "id",
                        'className': 'dt-body-center',
                        'render': function (id) {
                            return '<p data-placement="top" data-toggle="tooltip" title="Editar jefe"><input type="button" name="submitButton" value="Editar" class="btn btn-primary pull-right"  data-title="Edit" onclick="openModal()"/></p>';

                 }
                }

            ],
            'order': [1, 'asc']
        
        });

    });

    function openModal()
    {
        $("#edit").modal('show');
    }

</script>

